
<div class='banner'>
   <span class="title"> meetup.pizza</span>

   <button type="button" class="btn btn-default btn-lg info" aria-label="Right Align" ng-click="openModal('lg')">
       <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> INFO
  </button>
</div>


  <div class='row'>
    <div class="col-xs-8 col-xs-offset-4">
      <br><br><br>
      <img src="./public/css/pizza1.jpg" class="animated infinite pulse">
      <br><br><br>
    </div>
  </div>

  </div>


  <br><hr><br>

<div class="row">

  <form class="col-xs-8 col-xs-offset-2">

    <div class="form-group">
      <br><br>

      <label>Paste MeetUp Event URL</label>
      <input ng-model="eventURL" class="form-control" placeholder="MeetUp Event URL">

      <div class="col-xs-8 col-xs-offset-2">
        <br>
        <button ng-click="findEvent(eventURL)" type="submit" class="btn btn-block btn-primary" required>Find Meet Up</button>
      </div>

      <br><br><br>

      <div ng-show="incorrectInfo" class="alert alert-danger col-xs-8 col-xs-offset-2">
        <span> Please resubmit the Meetup link and/or verify that the Meetup page lists a valid address!</span>
      </div>

    </div>

    <br>

    <div class="col-xs-8 col-xs-offset-2 event" ng-hide = "eventInfo == null">
      <p>Is this the correct event and address?</p>
      <p>{{eventInfo.name}}</p>
      <p>{{eventInfo.address_name}}, {{eventInfo.address_street}}, {{eventInfo.address_city}} {{eventInfo.zip_code}}</p>
      <button class="btn btn-sm btn-primary" ng-click = "confirmInfo()">YES</button>
      <button class="btn btn-sm btn-primary" ng-click = "denyInfo()">NO</button>
    </div>


    <div ng-show = "correctInfo">
      <div class="form-group">
        <label>Select the percentage of MeetUp RSVPs that you expect to actually attend your event.</label>
        <select class="form-control" ng-model = 'expectedRatio' required>
          <option value="" selected disabled>Expected Attendance</option>
          <option value = .1 >10%</option>
          <option value = .25>25%</option>
          <option value = .333>33%</option>
          <option value = .5>50%</option>
          <option value = .666>66%</option>
          <option value = .75>75%</option>
          <option value = .9>90%</option>
          <option value = 1>100%</option>
          <option value = 1.1>110%</option>
          <option value = 1.5>150%</option>
          <option value = 2>200%</option>
        </select>
      </div>


      <div>
        <hr><br>
        <label>Denver Pizza Co. Acccount Email</label>
        <input ng-model = "email" type="email" class="form-control" placeholder="DPC Email" required>
      </div>

      <br>

      <div>
        <label>Denver Pizza Co. Account Password</label>
        <input ng-model = "password" type="password" class="form-control" placeholder="DPC Password" required>
      </div>

      <div class="col-xs-8 col-xs-offset-2">
      <br>
        <button ng-click="placeOrder(data); addUser()" type="submit" class="btn btn-block btn-primary">Submit Order</button>
      </div>
    </div>

  </form>
