
<!--   <div class="modal-header">
        </div> -->
        <div class="modal-body">
            This app was made to help dynamically order pizzas for meetup's hosted on meetup.com
            It uses Denver Pizza Co so you will need a DPC account which you can make <a href="https://denverpizzaco.hungerrush.com/account/register">here</a>.
            Payment information is set up locally and will need to be modified to actually place an order.
        </div>
        <div class="modal-footer">
            <a class = "modalLink" href="http://denverpizzaco.com/">Denver Pizza Company &nbsp&nbsp</a>
            <a class = "modalLink" href="http://www.meetup.com/">Meetup.com</a>
            <button class="btn btn-primary glyphicon glyphicon-remove" type="button" ng-click="closeModal()"></button>
        </div>
