<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
 -->

<!-- 5a783fa7f76117147b97d1f524be

https://api.meetup.com/2/events?offset=0&format=json&limited_events=False&event_id=226047336&photo-host=public&page=20&fields=&order=time&desc=false&status=upcoming&id=5a783fa7f76117147b97d1f524be&sig=341b7d2a597493c6d191dec504a7d00f8a6ed47d

https://api.meetup.com/2/events?key=5a783fa7f76117147b97d1f524be&event_id=223849678&sign=true -->
